.App {
  text-align: center;
}

.App-logo {
  height: 150px;
  pointer-events: none;
}

.container {
  font-family: "Share Tech Mono", monospace;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 800px;
  margin: auto;
  margin-bottom: 50px;
  gap: 20px;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 72px;
  color: #61dafb;
}

.search-header {
  display: flex;
  flex-direction: row;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* TerminalDemo.css */

.terminal-demo p {
  margin-top: 0;
}
.terminal-demo .p-terminal {
  background-color: #212121;
  border-radius: 8px;
  color: #fff;
}
.terminal-demo .p-terminal .p-terminal-command {
  color: #80cbc4;
}
.terminal-demo .p-terminal .p-terminal-prompt {
  color: #ffd54f;
}
.terminal-demo .p-terminal .p-terminal-response {
  color: #9fa8da;
}
.p-tabview .p-tabview-panels {
  margin: 0 !important;
  padding: 0 !important;
}
